.buttons {
    margin-bottom: 1rem;
}

.active {
    background-color: red;
    color: #fff;
    font-weight: bold;
}

button {
    margin-right: .2rem;
    padding: .3rem 1rem;
    border: 1px solid black;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    cursor: pointer;
    border-radius: 5px;
}

.inputs div {
    width: 200px;
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}

input {
    outline: none;
    padding: .2rem;

}

.hesapla {
    margin-bottom: 1rem;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}